.hero {
  display: flex;

  flex-direction: column;
  justify-content: center;

  margin: auto;

  padding: 0 var(--spacer-32);

  max-width: 1016px;

  height: 100vh;
}

.hero h1 {
  width: 100%;
  max-width: 100%;

  overflow: hidden;

  --before-width: 0;
  font-kerning: none;
}

.hero h1 b, .hero h1 span {
  display: inline-block;
  position: relative;
}

#akatext {
  position: relative;
}

.hero h1 b:first-of-type:before, .hero h1 span:before {
  position: absolute;
  top: 50%;
  left: 0;

  background: var(--foreground);

  width: var(--before-width);

  height: 10px;

  content: '';
}

.line__through {
  text-decoration: line-through;
}

.line {
  margin: 0 auto;
  margin-top: 100px;

  border-left: 1px solid transparent;

  height: 100px;
}

@media screen and (max-width: 1200px) {
  .hero {
    margin-top: 100px;
  }
  .line {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 992px) {
  .hero {
    margin-bottom: 150px;

    border-bottom: 1px solid #eaeaea;

    padding-bottom: 150px;
  }
  .line {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .hero {
    margin-top: 50px;
    margin-bottom: 100px;
    margin-bottom: 100px;

    padding-bottom: 100px;
  }
}
