@import "./reset.css";

/* Global Styles
   ========================================================================== */
:root {
  --border-color: #eaeaea;
  /* Your default theme */

  --background: white;
  /* Fonts */

  --font-primary: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  --font-size-2xl: 72px;
  --font-size-3xl: 110px;
  --font-size-4xl: 168px;
  --font-size-5xl: 240px;
  --font-size-lg: 24px;
  --font-size-md: 16px;
  --font-size-sm: 14px;
  --font-size-xl: 64px;
  --foreground: black;
  --gray-color: #c4c4c4;
  --header-background: rgba(255, 255, 255, 0.5);
  --spacer-16: 16px;
  --spacer-24: 24px;
  --spacer-28: 28px;
  --spacer-32: 32px;
  --spacer-40: 24px;
  --spacer-48: 48px;
  --spacer-56: 56px;
  --spacer-64: 64px;
  --spacer-72: 72px;
  /* Spacers */
  --spacer-8: 8px;
  --spacer-80: 80px;
  --spacer-88: 88px;
  /* Misc */
  --transition-medium: 500ms cubic-bezier(0.32, 1, 0.68, 1);
  --transition-quick: 300ms cubic-bezier(0.32, 1, 0.68, 1);
  --transition-slow: 850ms cubic-bezier(0.32, 1, 0.68, 1);
}

[data-theme="dark"] {
  --background: black;

  --foreground: white;
  --header-background: rgba(0, 0, 0, 0.5);
  --border-color: #333333;
}

* {
  box-sizing: border-box;
}

::selection {
  background: var(--foreground);

  color: var(--background);
}

html,
body {
  margin: 0;

  background: var(--background);

  padding: 0;

  max-width: 100vw;

  height: 100vh;

  overflow-x: hidden;

  text-rendering: optimizeLegibility;

  color: var(--foreground);

  font-family: var(--font-primary);

  -webkit-font-smoothing: antialiased;
  font-variant-ligatures: common-ligatures;
  -moz-osx-font-smoothing: grayscale;
}

body {
  /* overflow: hidden; */
  transition: background var(--transition-quick);
}

h1 {
  margin: 0;

  line-height: 1;
  letter-spacing: -7.5px;

  font-size: var(--font-size-3xl);
  font-weight: 300;
}

h2 {
  margin: 0 0 var(--spacer-8) 0;

  letter-spacing: -5px;

  font-size: var(--font-size-2xl);
  font-weight: 700;
}

h3 {
  margin: 0;

  font-size: 1.625em;
  font-weight: 300;
}

h4 {
  margin: 0;
}

a {
  transition: border 0.2s ease;

  border-bottom: 1px solid transparent;

  text-decoration: none;

  color: #0076ff;
}

a:hover {
  border-bottom: 1px solid currentColor;
}

b {
  font-weight: 700;
}

p {
  line-height: 1.5em;

  font-size: 0.875em;
}

.wrapper {
  max-width: 980px;
}

@media screen and (max-width: 1200px) {
  .image {
    margin: 0 auto;

    width: 250px;
  }
}

@media screen and (max-width: 992px) {
  section {
    height: auto;
  }
}
@media screen and (max-width: 576px) {
  h1 {
    font-size: 22vw;
  }
  .wrapper {
    max-width: 100%;
  }
}
